body {
    background-color: black;
    margin: 0;
text-align: center;
width: 50;
height: 20;

}

h1{
 text-align: center; 
color: pink;
height: 100;
}

h2{
text-align: center;
color:pink;
height: 75x;
}

img{
 width: 750x;   
 height:740px;
text-align: center;
}

p{
text-align: center;
color: pink

}
 a{
text-align: center;
color:pink;

 }

